################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Calc/.vs/Calc/v16
/Calc/bin
/Calc/obj
/Calc/Properties
/.vs
